@import "tailwindcss";
@theme {
  --color-primary: #B88E52;
  --color-secondary: #49494A;
  --color-gray: #6b6b6b;
  --color-light-gray: #f8fafd;
  --color-danger: #ff4d4f;
  --color-light-gray-100:#e6e6e6;
  --color-secondary-100:#323131;




  
}
html, body {
/* font-family: 'Inter', sans-serif;
    font-weight: 400; */
    scroll-behavior: smooth;
    font-size:0.9rem;
    color: #201F1F;
    font-family: "Google Sans Flex", sans-serif;
  }
  *::selection{
    background-color: var(--color-primary);
    color: #fff;
  }

.rtl{
  direction: rtl;
}
  .global-btn{
    @apply  text-white py-1 px-8 rounded-full transition-all duration-300 ease-in-out uppercase border border-primary;
  }
  .btn-primary{
    @apply bg-primary hover:bg-white hover:text-primary px-12;
  }
  .btn-secondary{
    @apply bg-secondary hover:bg-primary;
  }

body::-webkit-scrollbar {
  width: 10px;
}

/* Track */
body::-webkit-scrollbar-track {
  background: var(--color-secondary);
}

/* Handle */
body::-webkit-scrollbar-thumb {
  background: var(--color-primary);
  border-radius: 30px;
  width: 5px;
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
  background: var(--color-primary);
  cursor: pointer;
}

.cutom-scroll,body{
  /* scrollbar-width: thin; */
  scroll-behavior: smooth;

}
.cutom-scroll::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.cutom-scroll::-webkit-scrollbar-track {
  background: var(--color-secondary);
}

/* Handle */
.cutom-scroll::-webkit-scrollbar-thumb {
  background: var(--color-primary);
  border-radius: 30px;
  width: 5px;
}

/* Handle on hover */
.cutom-scroll::-webkit-scrollbar-thumb:hover {
  background: var(--color-primary);
  cursor: pointer;
}

html, body, #root { height: 100%; }
button {
  cursor: pointer;
}

